bin/*
!bin/config.*.txt

Monkey
Monkey.app
Monkey.exe

src/rebuildall
src/rebuilaall.exe

modules/brlx

modules/brl/native/GoogleAdMobAdsSdk*

modules/mojo/native/*
!modules/mojo/native/mojo.html5.js
!modules/mojo/native/asyncimageloader.js
