/bin/*
!/bin/*.txt

.bmx

.DS_Store
desktop.ini

/Monkey
/Monkey.app
/Monkey.exe

/src/rebuildall*
/src/createrelease
/src/ted-build-*
/src/build-ted-*
/src/ted/ted.pro.user*

/docs/html

/modules/brlx
/modules/brl/native/GoogleAdMobAdsSdk*
/modules/mojo/native/*
/modules/playniax

!/modules/mojo/native/mojo.html5.js
!/modules/mojo/native/mojo.glfw.cpp
!/modules/mojo/native/asyncimageloader.js
!/modules/mojo/native/asyncsoundloader.js

/settings.ini

/targets/glfw/oalinst.exe

/targets/__deprecated__/android_ndk

*.buildv*