/bin/*
!/bin/*.txt

.bmx
.DS_Store
*.buildv*
desktop.ini

/Monkey
/Monkey.app
/Monkey.exe

/docs/html

/modules/brl/native/GoogleAdMobAdsSdkiOS-6.8.0
/modules/brl/native/GoogleAdMobAdsSdk-6.4.1.jar

/src/rebuildall*
/src/createrelease
/src/ted-build-*
/src/build-ted-*
/src/ted/ted.pro.user*

/targets/__deprecated__/android_ndk
