<!DOCTYPE html>

<html>
<head>
<style type="text/css">
body{
	height: 100%;
	overflow: hidden; /* keeps scrollbar off IE */
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #000;
	background-color: #fff;
	padding:0px;
	margin:0px;
}
canvas:focus{
	outline:none;
}
</style>
</head>

<body>

<canvas id="GameCanvas" width=640 height=480 tabindex=1></canvas><br>

<textarea id="GameConsole" style="width:640px;height:240px;border:0;padding:0;margin:0" readonly></textarea><br>

<script language="javascript" src="main.js">Javascript not supported!</script>

</body>
</html>
