<!DOCTYPE html>

<html>
<head><title>Monkey Game!</title></head>
<body>

<div>
<embed src="MonkeyGame.swf" type="application/x-shockwave-flash" width="640" height="480" wmode="direct">
</embed>
</div>

<!-- Monkey console for Print -->
<textarea id="GameConsole" style="width:640px;height:240px;border:0;padding:0;margin:0" readonly></textarea><br>
<script type="text/javascript">
function monkey_print( str ){
	var cons=document.getElementById( "GameConsole" );
	cons.value+=str+"\n";
	cons.scrollTop=cons.scrollHeight-cons.clientHeight;
}
</script>

</body>
</html>
